name: Production DigitalOcean Deploy
on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v3

            - name: Build and deploy
              env: 
                  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
                  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
              run: |
                docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
                echo "Building and pushing docker image"
                docker build -t $DOCKER_USERNAME/autoplan:latest .
                docker push $DOCKER_USERNAME/autoplan:latest

            - name: Deploy to DigitalOcean
              uses: appleboy/ssh-action@master
              with:
                host: ${{ secrets.SEREVR_HOST }}
                username: ${{ secrets.SERVER_USERNAME }}
                key: ${{ secrets.SERVER_SSH_KEY }}
                port: ${{ secrets.SERVER_PORT }}
                script: |
                    cd /opengeoworks
                    docker compose pull autoplan
                    docker compose up --build -d autoplan